<div class="bg-gray-100 py-8">
  <div class="container mx-auto bg-white border rounded-lg shadow-lg p-8">
    <!-- Section Title -->
    <div class="text-left mb-8">
      <h3 class="text-2xl font-bold p-4 mt-4">รวมรีวิวทำจมูก เสริมจมูก แก้จมูก</h3>
      <section class="flex flex-col items-center bg-white">
        <div class="w-full max-w-3xl mb-6">
          <!-- ปรับขนาดเป็น max-w-3xl -->
          <img
            src="https://i.pinimg.com/736x/01/5e/01/015e0176ad918d6fb0155ec6e0da1543.jpg"
            alt="Image"
            class="w-full rounded-lg shadow-lg"
          />
        </div>

        <p class="text-[16px] md:text-[21px] text-gray-600 p-4 mt-4">
          การทำจมูก เป็นการศัลยกรรมที่ช่วยให้ใบหน้าดูสมบูรณ์โดดเด่น และมีมิติขึ้น ซึ่งปัจจุบัน
          การศัลยกรรมจมูกเป็นประเภทของการศัลยกรรมที่ได้รับความนิยมอันดับต้นๆ ในประเทศไทย
          จึงรวบรวมรีวิการทำจมูกเอาไว้ที่นี่ เพื่อให้เป็นตัวช่วยในการตัดสินใจใช้บริการ
          <hr
            style="border: none; border-top: 1px solid #dddddd; margin: 2px auto; max-width: calc(100% - 32px); width: 100%;"
          />
        </p>
        <div class="text-center mb-8 p-4 mt-4">
          <h3 class="text-lg md:text-xl font-bold text-left">รีวิวทำจมูก เสริมจมูก จากผู้ใช้บริการจริง</h3>
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4 mt-4">
            <!-- Article Card -->
            <div class="border rounded-lg overflow-hidden shadow-md">
              <img
                src="https://hdmall.co.th/system/redactor2_assets/images/5082/content_review-rhinoplasty-with-cartilage-and-silicone-materials-at-the-east__1_.jpg"
                alt="บทความ"
                class="w-full h-auto object-cover"
              />
              <div class="p-4">
                <p class="text-sm text-gray-500 flex items-center"></p>
                <h2 class="text-[18px] md:text-[24px] font-semibold mt-2 text-gray-600 text-left">เสริมจมูก</h2>
                <p class="text-gray-500 mt-3 text-left text-[14px] md:text-[16px]">
                  พัสเคยคิดอยากทำจมูกมาก เพราะเดี๋ยวนี้การศัลยกรรมเสริมจมูก เป็นสิ่งที่หลายๆ คนทำกัน
                  เพื่อให้ดูเองดูดีขึ้น....
                </p>
                <div class="flex justify-end mt-4">
                  <button
                    class="bg-teal-500 text-white text-[12px] md:text-[14px] font-medium py-1 px-4 rounded-full hover:bg-teal-600 focus:outline-none"
                  >
                    Read more
                  </button>
                </div>
              </div>
            </div>

            <div class="border rounded-lg overflow-hidden shadow-md">
              <img
                src="https://hdmall.co.th/system/redactor2_assets/images/5082/content_review-rhinoplasty-with-cartilage-and-silicone-materials-at-the-east__1_.jpg"
                alt="บทความ"
                class="w-full h-auto object-cover"
              />
              <div class="p-4">
                <p class="text-sm text-gray-500 flex items-center"></p>
                <h2 class="text-[18px] md:text-[24px] font-semibold mt-2 text-gray-600 text-left">เสริมจมูก</h2>
                <p class="text-gray-500 mt-3 text-left text-[14px] md:text-[16px]">
                  พัสเคยคิดอยากทำจมูกมาก เพราะเดี๋ยวนี้การศัลยกรรมเสริมจมูก เป็นสิ่งที่หลายๆ คนทำกัน
                  เพื่อให้ดูเองดูดีขึ้น....
                </p>
                <div class="flex justify-end mt-4">
                  <button
                    class="bg-teal-500 text-white text-[12px] md:text-[14px] font-medium py-1 px-4 rounded-full hover:bg-teal-600 focus:outline-none"
                  >
                    Read more
                  </button>
                </div>
              </div>
            </div>

            <div class="border rounded-lg overflow-hidden shadow-md">
              <img
                src="https://hdmall.co.th/system/redactor2_assets/images/5082/content_review-rhinoplasty-with-cartilage-and-silicone-materials-at-the-east__1_.jpg"
                alt="บทความ"
                class="w-full h-auto object-cover"
              />
              <div class="p-4">
                <p class="text-sm text-gray-500 flex items-center"></p>
                <h2 class="text-[18px] md:text-[24px] font-semibold mt-2 text-gray-600 text-left">เสริมจมูก</h2>
                <p class="text-gray-500 mt-3 text-left text-[14px] md:text-[16px]">
                  พัสเคยคิดอยากทำจมูกมาก เพราะเดี๋ยวนี้การศัลยกรรมเสริมจมูก เป็นสิ่งที่หลายๆ คนทำกัน
                  เพื่อให้ดูเองดูดีขึ้น....
                </p>
                <div class="flex justify-end mt-4">
                  <button
                    class="bg-teal-500 text-white text-[12px] md:text-[14px]font-medium py-1 px-4 rounded-full hover:bg-teal-600 focus:outline-none"
                  >
                    Read more
                  </button>
                </div>
              </div>
            </div>

            <div class="border rounded-lg overflow-hidden shadow-md">
              <img
                src="https://hdmall.co.th/system/redactor2_assets/images/5082/content_review-rhinoplasty-with-cartilage-and-silicone-materials-at-the-east__1_.jpg"
                alt="บทความ"
                class="w-full h-auto object-cover"
              />
              <div class="p-4">
                <p class="text-sm text-gray-500 flex items-center"></p>
                <h2 class="text-[18px] md:text-[24px] font-semibold mt-2 text-gray-600 text-left">เสริมจมูก</h2>
                <p class="text-gray-500 mt-3 text-left text-[14px] md:text-[16px]">
                  พัสเคยคิดอยากทำจมูกมาก เพราะเดี๋ยวนี้การศัลยกรรมเสริมจมูก เป็นสิ่งที่หลายๆ คนทำกัน
                  เพื่อให้ดูเองดูดีขึ้น....
                </p>
                <div class="flex justify-end mt-4">
                  <button
                    class="bg-teal-500 text-white text-[12px] md:text-[14px]font-medium py-1 px-4 rounded-full hover:bg-teal-600 focus:outline-none"
                  >
                    Read more
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr
        style="border: none; border-top: 1px solid #dddddd; margin: 2px auto; max-width: calc(100% - 32px); width: 100%;"
      />
      <div class="text-center mb-8 p-4 mt-4">
        <h3 class="text-lg sm:text-xl lg:text-2xl font-bold text-left">รีวิวทำจมูก เสริมจมูก ทรงต่างๆ</h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 p-4 mt-4">
          <!-- Article Card 1 -->
          <div class="border rounded-lg overflow-hidden shadow-md">
            <img
              src="https://static.hdmall.co.th/system/redactor2_assets/images/7906/content_nose__2_.jpg"
              alt="บทความ"
              class="w-full h-auto object-cover"
            />
            <div class="p-4">
              <p class="text-sm text-gray-500 flex items-center"></p>
              <h3 class="text-[18px] md:text-[20px] lg:text-[24px] font-semibold mt-2 text-gray-600">
                รีวิว เสริมจมูกทรงปลายเชิด
              </h3>
              <div class="flex justify-end mt-4">
                <button
                  class="bg-teal-500 text-white text-[12px] md:text-[14px] font-medium py-2 px-4 rounded-full hover:bg-teal-600 focus:outline-none"
                >
                  Read more
                </button>
              </div>
            </div>
          </div>
          <!-- Article Card 2 -->
          <div class="border rounded-lg overflow-hidden shadow-md">
            <img
              src="https://static.hdmall.co.th/system/redactor2_assets/images/7905/content_nose__1_.jpg"
              alt="บทความ"
              class="w-full h-auto object-cover"
            />
            <div class="p-4">
              <p class="text-sm text-gray-500 flex items-center"></p>
              <h3 class="text-[18px] md:text-[20px] lg:text-[24px] font-semibold mt-2 text-gray-600">
                รีวิว เสริมจมูกทรงปลายพุ่ง
              </h3>
              <div class="flex justify-end mt-4">
                <button
                  class="bg-teal-500 text-white text-[12px] md:text-[14px]font-medium py-2 px-4 rounded-full hover:bg-teal-600 focus:outline-none"
                >
                  Read more
                </button>
              </div>
            </div>
          </div>
          <!-- Article Card 3 -->
          <div class="border rounded-lg overflow-hidden shadow-md">
            <img
              src="https://static.hdmall.co.th/system/redactor2_assets/images/7904/content_nose.jpg"
              alt="บทความ"
              class="w-full h-auto object-cover"
            />
            <div class="p-4">
              <p class="text-sm text-gray-500 flex items-center"></p>
              <h3 class="text-[18px] md:text-[20px] lg:text-[24px] font-semibold mt-2 text-gray-600">
                รีวิว เสริมจมูกทรงหยดน้ำ
              </h3>
              <div class="flex justify-end mt-4">
                <button
                  class="bg-teal-500 text-white text-[12px] md:text-[14px] font-medium py-2 px-4 rounded-full hover:bg-teal-600 focus:outline-none"
                >
                  Read more
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
