---

---

<footer class="bg-white text-gray-600">
  <div class="container mx-auto px-6 py-12 grid grid-cols-1 md:grid-cols-4 gap-8">
    <div class="col-span-1">
      <div class="mb-4">
        <svg width="222" height="41" viewBox="0 0 222 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect
            x="0.722656"
            y="30.7383"
            width="8.40218"
            height="7.98445"
            rx="3.99222"
            transform="rotate(-59.7644 0.722656 30.7383)"
            fill="#00AD98"></rect>
          <rect
            opacity="0.25"
            x="18.9902"
            y="34.7578"
            width="27.238"
            height="7.98445"
            rx="3.99222"
            transform="rotate(-120 18.9902 34.7578)"
            fill="#00AD98"></rect>
          <rect
            opacity="0.25"
            x="32.3633"
            y="34.7578"
            width="27.238"
            height="7.98445"
            rx="3.99222"
            transform="rotate(-120 32.3633 34.7578)"
            fill="#00AD98"></rect>
          <rect
            x="14.9688"
            y="27.7969"
            width="19.1962"
            height="7.98445"
            rx="3.99222"
            transform="rotate(-120 14.9688 27.7969)"
            fill="#00AD98"></rect>
          <rect
            x="28.416"
            y="27.9219"
            width="19.3412"
            height="7.98445"
            rx="3.99222"
            transform="rotate(-120 28.416 27.9219)"
            fill="#00AD98"></rect>
          <path
            d="M49.2912 27.4688V14.3778H57.8054V16.3658H51.6626V19.9197H57.3643V21.9077H51.6626V25.4808H57.8565V27.4688H49.2912ZM62.2564 21.7159V27.4688H59.9425V17.6506H62.1542V19.3189H62.2692C62.4951 18.7692 62.8552 18.3324 63.3495 18.0085C63.8481 17.6847 64.4638 17.5227 65.1968 17.5227C65.8743 17.5227 66.4645 17.6676 66.9674 17.9574C67.4745 18.2472 67.8665 18.6669 68.1435 19.2166C68.4248 19.7663 68.5633 20.4332 68.559 21.2173V27.4688H66.2451V21.5753C66.2451 20.919 66.0746 20.4055 65.7337 20.0348C65.3971 19.6641 64.9304 19.4787 64.3338 19.4787C63.929 19.4787 63.5689 19.5682 63.2536 19.7472C62.9425 19.9219 62.6975 20.1754 62.5185 20.5078C62.3438 20.8402 62.2564 21.2429 62.2564 21.7159ZM79.1496 17.6506L75.6531 27.4688H73.0963L69.5999 17.6506H72.0672L74.3236 24.9439H74.4259L76.6887 17.6506H79.1496ZM82.009 31.1506C81.6937 31.1506 81.4018 31.125 81.1333 31.0739C80.8691 31.027 80.6582 30.9716 80.5005 30.9077L81.0374 29.1051C81.3741 29.2031 81.6745 29.25 81.9387 29.2457C82.2029 29.2415 82.4351 29.1584 82.6354 28.9964C82.84 28.8388 83.0126 28.5746 83.1532 28.2038L83.3513 27.6733L79.791 17.6506H82.2455L84.5083 25.0653H84.6106L86.8797 17.6506H89.3407L85.4096 28.6577C85.2263 29.1776 84.9834 29.6229 84.6809 29.9936C84.3783 30.3686 84.0076 30.6541 83.5687 30.8501C83.134 31.0504 82.6141 31.1506 82.009 31.1506ZM90.634 27.4688V25.9986L95.6965 19.6513V19.5682H90.8002V17.6506H98.5282V19.2294L93.7086 25.468V25.5511H98.6944V27.4688H90.634ZM102.115 27.6094C101.727 27.6094 101.395 27.473 101.118 27.2003C100.841 26.9276 100.704 26.5952 100.708 26.2031C100.704 25.8196 100.841 25.4915 101.118 25.2188C101.395 24.946 101.727 24.8097 102.115 24.8097C102.49 24.8097 102.816 24.946 103.093 25.2188C103.374 25.4915 103.517 25.8196 103.521 26.2031C103.517 26.4631 103.449 26.6996 103.316 26.9126C103.189 27.1257 103.018 27.2962 102.805 27.424C102.596 27.5476 102.366 27.6094 102.115 27.6094ZM105.73 27.4688V17.6506H107.942V19.3189H108.057C108.261 18.7564 108.6 18.3175 109.073 18.0021C109.546 17.6825 110.111 17.5227 110.767 17.5227C111.432 17.5227 111.992 17.6847 112.448 18.0085C112.908 18.3281 113.232 18.7649 113.42 19.3189H113.522C113.739 18.7734 114.106 18.3388 114.621 18.0149C115.141 17.6868 115.757 17.5227 116.469 17.5227C117.372 17.5227 118.109 17.8082 118.68 18.3793C119.251 18.9503 119.537 19.7834 119.537 20.8786V27.4688H117.217V21.2365C117.217 20.6271 117.055 20.1818 116.731 19.9006C116.407 19.6151 116.011 19.4723 115.542 19.4723C114.984 19.4723 114.547 19.647 114.231 19.9964C113.92 20.3416 113.765 20.7912 113.765 21.3452V27.4688H111.496V21.1406C111.496 20.6335 111.342 20.2287 111.035 19.9261C110.733 19.6236 110.337 19.4723 109.846 19.4723C109.514 19.4723 109.212 19.5575 108.939 19.728C108.666 19.8942 108.449 20.1307 108.287 20.4375C108.125 20.7401 108.044 21.0937 108.044 21.4986V27.4688H105.73ZM126.051 27.6605C125.067 27.6605 124.216 27.456 123.5 27.0469C122.789 26.6335 122.241 26.0497 121.858 25.2955C121.474 24.5369 121.282 23.6442 121.282 22.6172C121.282 21.6072 121.474 20.7209 121.858 19.9581C122.246 19.1911 122.787 18.5945 123.481 18.1683C124.176 17.7379 124.992 17.5227 125.929 17.5227C126.535 17.5227 127.106 17.6207 127.643 17.8168C128.184 18.0085 128.661 18.3068 129.074 18.7116C129.492 19.1165 129.82 19.6321 130.059 20.2585C130.297 20.8807 130.417 21.6222 130.417 22.483V23.1925H122.369V21.6328H128.199C128.194 21.1896 128.098 20.7955 127.911 20.4503C127.723 20.1009 127.461 19.826 127.125 19.6257C126.792 19.4254 126.405 19.3253 125.961 19.3253C125.488 19.3253 125.073 19.4403 124.715 19.6705C124.357 19.8963 124.078 20.1946 123.878 20.5653C123.682 20.9318 123.581 21.3345 123.577 21.7734V23.1349C123.577 23.706 123.682 24.196 123.89 24.6051C124.099 25.0099 124.391 25.321 124.766 25.5384C125.141 25.7514 125.58 25.858 126.083 25.858C126.42 25.858 126.724 25.8111 126.997 25.7173C127.27 25.6193 127.506 25.4766 127.706 25.2891C127.907 25.1016 128.058 24.8693 128.16 24.5923L130.321 24.8352C130.184 25.4062 129.924 25.9048 129.541 26.331C129.162 26.7528 128.676 27.081 128.084 27.3153C127.491 27.5455 126.814 27.6605 126.051 27.6605ZM136.581 27.4688V14.3778H138.895V19.2741H138.991C139.11 19.0355 139.279 18.782 139.496 18.5135C139.713 18.2408 140.007 18.0085 140.378 17.8168C140.749 17.6207 141.222 17.5227 141.797 17.5227C142.556 17.5227 143.24 17.7166 143.849 18.1044C144.463 18.4879 144.949 19.0568 145.306 19.8111C145.669 20.5611 145.85 21.4815 145.85 22.5724C145.85 23.6506 145.673 24.5668 145.319 25.321C144.966 26.0753 144.484 26.6506 143.875 27.0469C143.265 27.4432 142.575 27.6413 141.804 27.6413C141.241 27.6413 140.775 27.5476 140.404 27.3601C140.033 27.1726 139.735 26.9467 139.509 26.6825C139.287 26.4141 139.115 26.1605 138.991 25.9219H138.857V27.4688H136.581ZM138.851 22.5597C138.851 23.1946 138.94 23.7507 139.119 24.228C139.302 24.7053 139.564 25.0781 139.905 25.3466C140.25 25.6108 140.668 25.7429 141.158 25.7429C141.669 25.7429 142.098 25.6065 142.443 25.3338C142.788 25.0568 143.048 24.6797 143.223 24.2024C143.402 23.7209 143.491 23.1733 143.491 22.5597C143.491 21.9503 143.404 21.4091 143.229 20.9361C143.054 20.4631 142.794 20.0923 142.449 19.8239C142.104 19.5554 141.674 19.4212 141.158 19.4212C140.664 19.4212 140.244 19.5511 139.899 19.8111C139.554 20.071 139.292 20.4354 139.113 20.9041C138.938 21.3729 138.851 21.9247 138.851 22.5597ZM148.741 31.1506C148.426 31.1506 148.134 31.125 147.865 31.0739C147.601 31.027 147.39 30.9716 147.233 30.9077L147.77 29.1051C148.106 29.2031 148.407 29.25 148.671 29.2457C148.935 29.2415 149.167 29.1584 149.368 28.9964C149.572 28.8388 149.745 28.5746 149.885 28.2038L150.084 27.6733L146.523 17.6506H148.978L151.24 25.0653H151.343L153.612 17.6506H156.073L152.142 28.6577C151.959 29.1776 151.716 29.6229 151.413 29.9936C151.111 30.3686 150.74 30.6541 150.301 30.8501C149.866 31.0504 149.346 31.1506 148.741 31.1506ZM163.562 27.4688H161.031L165.64 14.3778H168.567L173.182 27.4688H170.651L167.155 17.0625H167.052L163.562 27.4688ZM163.645 22.3359H170.549V24.2408H163.645V22.3359ZM174.727 27.4688V14.3778H179.636C180.641 14.3778 181.485 14.5653 182.167 14.9403C182.853 15.3153 183.371 15.831 183.72 16.4872C184.074 17.1392 184.251 17.8807 184.251 18.7116C184.251 19.5511 184.074 20.2969 183.72 20.9489C183.367 21.6009 182.844 22.1143 182.154 22.4893C181.464 22.8601 180.614 23.0455 179.604 23.0455H176.35V21.0959H179.284C179.872 21.0959 180.354 20.9936 180.729 20.7891C181.104 20.5845 181.381 20.3033 181.56 19.9453C181.743 19.5874 181.835 19.1761 181.835 18.7116C181.835 18.2472 181.743 17.8381 181.56 17.4844C181.381 17.1307 181.102 16.8558 180.722 16.6598C180.347 16.4595 179.864 16.3594 179.271 16.3594H177.098V27.4688H174.727ZM193.245 17.9766C193.185 17.4183 192.934 16.9837 192.491 16.6726C192.052 16.3615 191.481 16.206 190.778 16.206C190.283 16.206 189.859 16.2805 189.506 16.4297C189.152 16.5788 188.881 16.7812 188.694 17.0369C188.506 17.2926 188.41 17.5845 188.406 17.9126C188.406 18.1854 188.468 18.4219 188.592 18.6222C188.719 18.8224 188.892 18.9929 189.109 19.1335C189.327 19.2699 189.567 19.3849 189.832 19.4787C190.096 19.5724 190.362 19.6513 190.631 19.7152L191.858 20.022C192.352 20.1371 192.827 20.2926 193.283 20.4886C193.743 20.6847 194.155 20.9318 194.517 21.2301C194.883 21.5284 195.173 21.8885 195.386 22.3104C195.599 22.7322 195.706 23.2266 195.706 23.7933C195.706 24.5604 195.51 25.2358 195.118 25.8196C194.726 26.3991 194.159 26.853 193.417 27.1811C192.68 27.505 191.788 27.6669 190.739 27.6669C189.721 27.6669 188.837 27.5092 188.087 27.1939C187.341 26.8786 186.757 26.4183 186.335 25.8132C185.917 25.2081 185.692 24.4709 185.658 23.6016H187.991C188.025 24.0575 188.165 24.4368 188.413 24.7393C188.66 25.0419 188.981 25.2678 189.378 25.4169C189.778 25.5661 190.226 25.6406 190.72 25.6406C191.236 25.6406 191.687 25.5639 192.075 25.4105C192.467 25.2528 192.774 25.0355 192.996 24.7585C193.217 24.4773 193.33 24.1491 193.334 23.7741C193.33 23.4332 193.23 23.152 193.034 22.9304C192.838 22.7045 192.563 22.517 192.209 22.3679C191.86 22.2145 191.451 22.0781 190.982 21.9588L189.493 21.5753C188.415 21.2983 187.562 20.8786 186.936 20.3161C186.314 19.7493 186.003 18.9972 186.003 18.0597C186.003 17.2884 186.212 16.6129 186.629 16.0334C187.051 15.4538 187.624 15.0043 188.349 14.6847C189.073 14.3608 189.893 14.1989 190.81 14.1989C191.739 14.1989 192.552 14.3608 193.251 14.6847C193.954 15.0043 194.506 15.4496 194.907 16.0206C195.307 16.5874 195.514 17.2393 195.527 17.9766H193.245ZM197.065 16.3658V14.3778H207.509V16.3658H203.463V27.4688H201.111V16.3658H197.065ZM209.343 27.4688V14.3778H211.714V19.9197H217.78V14.3778H220.158V27.4688H217.78V21.9077H211.714V27.4688H209.343Z"
            fill="#111C2D"></path>
        </svg>
      </div>
      <p class="text-sm leading-relaxed">
        "ศูนย์รวมคลินิกความงามและสุขภาพกับแพลตฟอร์มที่รวบรวมบริการด้านความงามและสุขภาพจากคลินิค
        ทั่วประเทศที่นี่คุณจะพบกับบริการครบวงจร ทั้งดูแลผิวพรรณ เสริมความงามและปรับรูปหน้า ที่ตอบโจทย์ทุกความต้องการ
        มีคำแนะนำจากผู้เชี่ยวชาญเพื่อให้คุณมั่นใจทุกขั้นตอน เพราะคุณคู่ควรกับความสวยและสุขภาพที่ดีที่สุด ที่ Envyz.me by
        APSTH"
      </p>
    </div>

    <div class="col-span-1">
      <h4 class="font-semibold text-gray-800 mb-4">ประเภทบริการ</h4>
      <ul class="space-y-2 text-sm">
        <li><a href="#" class="hover:text-green-200">คลินิกความงาม</a></li>
        <li><a href="#" class="hover:text-green-200">คลินิกเฉพาะทาง</a></li>
        <li><a href="#" class="hover:text-green-200">คลินิกเวชกรรม</a></li>
        <li><a href="#" class="hover:text-green-200">คลินิกทั่วไป</a></li>
        <li><a href="#" class="hover:text-green-200">คลินิกเทคนิคการแพทย์</a></li>
        <li><a href="#" class="hover:text-green-200">คลินิกกายภาพบำบัด</a></li>
        <li><a href="#" class="hover:text-green-200">คลินิกแพทย์แผนไทย-จีน</a></li>
        <li><a href="#" class="hover:text-green-200">คลินิกอายุรกรรม</a></li>
        <li><a href="#" class="hover:text-green-200">คลินิกแม่และเด็ก</a></li>
        <li><a href="#" class="hover:text-green-200">คลินิกบำบักยาเสพติด</a></li>
        <li><a href="#" class="hover:text-green-200">คลินิกพยาบาลผดุงครรภ์</a></li>
        <li><a href="#" class="hover:text-green-200">บริการ สุชภาพ อื่นๆ</a></li>
        <li><a href="#" class="hover:text-green-200">คลินิก Wellness</a></li>
      </ul>
    </div>

    <div class="col-span-1">
      <h4 class="font-semibold text-gray-800 mb-4">เกี่ยวกับเรา</h4>
      <ul class="space-y-2 text-sm">
        <li><a href="#" class="hover:text-green-200">ติดต่อสอบถาม</a></li>
        <li><a href="#" class="hover:text-green-200">นโยบายความเป็นส่วนตัว</a></li>
      </ul>
    </div>

    <div class="col-span-1">
      <h4 class="font-semibold text-gray-800 mb-4">ติดตามเรา</h4>
      <div class="flex space-x-4">
        <a href="#" class="text-gray-600 hover:text-green-200" aria-label="Facebook">
          <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_204_3718)">
              <path
                d="M22 11.9688C22 5.89297 17.0758 0.96875 11 0.96875C4.92422 0.96875 0 5.89297 0 11.9688C0 17.125 3.55352 21.4562 8.34453 22.6465V15.3289H6.07578V11.9688H8.34453V10.5207C8.34453 6.77813 10.0375 5.04219 13.7156 5.04219C14.4117 5.04219 15.6148 5.17969 16.109 5.31719V8.35938C15.8512 8.33359 15.4 8.31641 14.8371 8.31641C13.0324 8.31641 12.3363 8.99961 12.3363 10.7742V11.9688H15.9285L15.3098 15.3289H12.332V22.8871C17.7805 22.2297 22 17.5934 22 11.9688Z"
                fill="#111010"></path>
            </g>
            <defs>
              <clipPath id="clip0_204_3718">
                <rect width="22" height="22" fill="white" transform="translate(0 0.96875)"></rect>
              </clipPath>
            </defs>
          </svg>
        </a>
        <a href="#" class="text-gray-600 hover:text-green-200" aria-label="Instagram">
          <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.7398 4.48711C19.7527 4.68047 19.7527 4.87813 19.7527 5.07148C19.7527 11.0312 15.2152 17.902 6.92227 17.902C4.36563 17.902 1.99375 17.1629 0 15.8781C0.360937 15.9211 0.713281 15.934 1.08711 15.934C3.19687 15.934 5.13477 15.2207 6.68594 14.009C4.70508 13.966 3.04219 12.6684 2.4707 10.8809C2.75 10.9238 3.0293 10.9496 3.32148 10.9496C3.72539 10.9496 4.1293 10.8938 4.50742 10.7949C2.44063 10.3781 0.89375 8.56055 0.89375 6.36914V6.31328C1.49531 6.64844 2.19141 6.85898 2.93047 6.88477C1.71445 6.07695 0.919531 4.69336 0.919531 3.1293C0.919531 2.29141 1.14297 1.52227 1.53398 0.851953C3.75547 3.58906 7.08984 5.37656 10.8324 5.56992C10.7637 5.23477 10.7207 4.88672 10.7207 4.53867C10.7207 2.05508 12.7316 0.03125 15.2281 0.03125C16.5258 0.03125 17.6988 0.576953 18.5238 1.45352C19.5422 1.26016 20.5219 0.882031 21.3855 0.366406C21.0504 1.41484 20.3371 2.29141 19.4047 2.85C20.3113 2.75117 21.1922 2.50195 22 2.15391C21.3855 3.04766 20.6164 3.84258 19.7398 4.48711Z"
              fill="#111010"></path>
          </svg>
        </a>
        <a href="#" class="text-gray-600 hover:text-green-200" aria-label="Twitter">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9.62861 5.02705C6.8958 5.02705 4.6915 7.23135 4.6915 9.96416C4.6915 12.697 6.8958 14.9013 9.62861 14.9013C12.3614 14.9013 14.5657 12.697 14.5657 9.96416C14.5657 7.23135 12.3614 5.02705 9.62861 5.02705ZM9.62861 13.1739C7.8626 13.1739 6.41885 11.7345 6.41885 9.96416C6.41885 8.19385 7.8583 6.75439 9.62861 6.75439C11.3989 6.75439 12.8384 8.19385 12.8384 9.96416C12.8384 11.7345 11.3946 13.1739 9.62861 13.1739ZM15.9192 4.8251C15.9192 5.46533 15.4036 5.97666 14.7677 5.97666C14.1274 5.97666 13.6161 5.46104 13.6161 4.8251C13.6161 4.18916 14.1317 3.67353 14.7677 3.67353C15.4036 3.67353 15.9192 4.18916 15.9192 4.8251ZM19.1892 5.99385C19.1161 4.45127 18.7638 3.08486 17.6337 1.95908C16.5079 0.833301 15.1415 0.480957 13.5989 0.403613C12.0091 0.313379 7.24385 0.313379 5.654 0.403613C4.11572 0.47666 2.74932 0.829004 1.61924 1.95479C0.48916 3.08057 0.141113 4.44697 0.0637695 5.98955C-0.0264648 7.57939 -0.0264648 12.3446 0.0637695 13.9345C0.136816 15.477 0.48916 16.8435 1.61924 17.9692C2.74932 19.095 4.11143 19.4474 5.654 19.5247C7.24385 19.6149 12.0091 19.6149 13.5989 19.5247C15.1415 19.4517 16.5079 19.0993 17.6337 17.9692C18.7595 16.8435 19.1118 15.477 19.1892 13.9345C19.2794 12.3446 19.2794 7.58369 19.1892 5.99385ZM17.1353 15.6403C16.8001 16.4825 16.1513 17.1313 15.3048 17.4708C14.0372 17.9735 11.0294 17.8575 9.62861 17.8575C8.22783 17.8575 5.21572 17.9692 3.95244 17.4708C3.11025 17.1356 2.46143 16.4868 2.12197 15.6403C1.61924 14.3728 1.73525 11.3649 1.73525 9.96416C1.73525 8.56338 1.62354 5.55127 2.12197 4.28799C2.45713 3.4458 3.10596 2.79697 3.95244 2.45752C5.22002 1.95478 8.22783 2.0708 9.62861 2.0708C11.0294 2.0708 14.0415 1.95908 15.3048 2.45752C16.147 2.79268 16.7958 3.4415 17.1353 4.28799C17.638 5.55557 17.522 8.56338 17.522 9.96416C17.522 11.3649 17.638 14.3771 17.1353 15.6403Z"
              fill="#111010"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="border-t border-gray-200 mt-8 py-4 flex items-center justify-between text-sm">
    <div class="flex items-center space-x-2">
      <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect
          x="0.722656"
          y="30.7373"
          width="8.40218"
          height="7.98445"
          rx="3.99222"
          transform="rotate(-59.7644 0.722656 30.7373)"
          fill="#00AD98"></rect>
        <rect
          opacity="0.25"
          x="18.9902"
          y="34.7568"
          width="27.238"
          height="7.98445"
          rx="3.99222"
          transform="rotate(-120 18.9902 34.7568)"
          fill="#00AD98"></rect>
        <rect
          opacity="0.25"
          x="32.3633"
          y="34.7568"
          width="27.238"
          height="7.98445"
          rx="3.99222"
          transform="rotate(-120 32.3633 34.7568)"
          fill="#00AD98"></rect>
        <rect
          x="14.9688"
          y="27.7959"
          width="19.1962"
          height="7.98445"
          rx="3.99222"
          transform="rotate(-120 14.9688 27.7959)"
          fill="#00AD98"></rect>
        <rect
          x="28.416"
          y="27.9209"
          width="19.3412"
          height="7.98445"
          rx="3.99222"
          transform="rotate(-120 28.416 27.9209)"
          fill="#00AD98"></rect>
      </svg>
      <span class="text-gray-600">All rights reserved by MatDash.</span>
    </div>

    <span class="text-gray-600">Produced by Wrappixel</span>
  </div>
</footer>
