---
import { Image } from 'astro:assets';
import  completed_img  from '~/assets/images/completed_img.png'
---

  <div class="bg-white rounded-lg shadow p-8 sm:p-6 max-w-full dark:bg-gray-700 mx-11 mt-6 mb-6">
    <ol class="mx-auto flex w-full items-center justify-between mb-5">
      <li class="flex items-center w-full">
        <div class="relative flex flex-col items-center">
          <span class="flex h-10 w-10 shrink-0 items-center justify-center rounded-full bg-teal-600 text-white">
            1
          </span>
          <div class="absolute top-12 w-32 text-center text-sm">Cart</div>
        </div>
        <div class="flex-auto border-t-2 border-teal-600"></div>
      </li>

      <li class="flex items-center w-full">
        <div class="relative flex flex-col items-center">
          <span class="flex h-10 w-10 shrink-0 items-center justify-center rounded-full bg-teal-600 dark:bg-gray-400 text-white">
           2
          </span>
          <div class="absolute top-12 w-40 text-center text-sm">Your Details & Payment</div>
        </div>
        <div class="flex-auto border-t-2 border-teal-600"></div>
      </li>

      <li class="flex items-center">
        <div class="relative flex flex-col items-center">
          <span class="flex h-10 w-10 shrink-0 items-center justify-center rounded-full bg-teal-600 dark:bg-gray-400 text-white">
            3
          </span>
          <div class="absolute top-12 w-32 mr-4 text-center text-sm">Order Completed</div>
        </div>
      </li>
    </ol>
    <div class="relative overflow-x-auto">
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg ">
        <div class="flex justify-center mb-6 mt-10">
          <h2 class="text-lg text-gray-900">Thank you for your purchase!</h2>
        </div>
        <div class="flex justify-center mb-6 mt-10">
          <Image src={completed_img} alt="" class="flex justify-center" width={192} height={155}></Image>
        </div>
        <div class="flex justify-end space-x-4 mt-4 mb-5">
          <button
            class="px-4 py-2 font-normal text-sm font-sans text-white bg-teal-700 hover:bg-gray-800 rounded-full focus:outline-none focus:ring-2 focus:ring-gray-500 back-btn"
          >
            Previous
          </button>

        </div>
      </div>
    </div>
  </div>
  
<style>
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-number-input input:focus {
    outline: none !important;
  }

  .custom-number-input button:focus {
    outline: none !important;
  }
</style>
<script>
  function decrement(e) {
    const btn = e.target.parentNode.parentElement.querySelector('button[data-action="decrement"]');
    const target = btn.nextElementSibling;
    let value = Number(target.value);
    if (value > 1) {
      // ตรวจสอบว่าค่ามากกว่า 1 ก่อนลด
      value--;
      target.value = value;
    }
  }

  function increment(e) {
    const btn = e.target.parentNode.parentElement.querySelector('button[data-action="decrement"]');
    const target = btn.nextElementSibling;
    let value = Number(target.value);
    value++;
    target.value = value;
  }

  const decrementButtons = document.querySelectorAll(`button[data-action="decrement"]`);

  const incrementButtons = document.querySelectorAll(`button[data-action="increment"]`);

  decrementButtons.forEach((btn) => {
    btn.addEventListener('click', decrement);
  });

  incrementButtons.forEach((btn) => {
    btn.addEventListener('click', increment);
  });
  
  document.querySelector('button.back-btn')?.addEventListener('click', () => {
    window.location.href = '/en/cart';
  });
</script>
