---

import ItemsSuggestion from './ItemSuggestion';
const { locale } = Astro.props;
---
<section class="flex flex-col lg:flex-row items-center gap-8 shadow-lg rounded-lg p-6 max-w-6xl mx-auto">
  <div class="w-full lg:w-1/2 relative">
    <div class="relative group overflow-hidden rounded-lg">
   
      <div class="flex transition-transform duration-500 ease-in-out group-hover:translate-x-[-100%]">
        <img
          src="https://www.bdmswellness.com/userfiles/fd3ba99771b1055c6dc077ac7aa8217e.jpg"
          alt="Image 1"
          class="h-68 w-full object-cover rounded-md"
        />
        <img
          src="https://www.privilegeclinic.com/wp-content/uploads/2023/12/AW-PVLClinic-PotenzaPlus.jpg"
          alt="Image 2"
          class="h-68 w-full object-cover rounded-md"
        />
      </div>

      
    </div>
  </div>

  <!-- เนื้อหา -->
  <div class="w-full lg:w-1/2 text-center sm:p-6 lg:p-8 text-white">
    <p class="text-sm font-semibold uppercase tracking-widest text-gray-600">Limited Time Only</p>

    <h2 class="mt-6 font-black uppercase">
      <span class="text-2xl font-black sm:text-5xl lg:text-6xl text-gray-600 transition duration-300 hover:text-gray-800"> 
        Get 20% off 
      </span>
      <span class="mt-2 block text-sm text-gray-600">On your next order over $50</span>
    </h2>

    <a
      class="mt-8 inline-block w-full bg-gray-800 py-4 text-sm font-bold uppercase tracking-widest text-white rounded-lg shadow-lg hover:bg-gray-700 hover:shadow-xl transition"
      href="#"
    >
      Claim Discount
    </a>

    <p class="mt-8 text-xs font-medium uppercase text-gray-500">Offer ends 24th March, 2021 *</p>
  </div>
</section>
<div class="relative flex flex-col lg:flex-row gap-8 p-6 max-w-6xl mx-auto">
  <h2 class="text-2xl font-bold text-gray-800  mt-4">Promotion</h2>
</div>
<ItemsSuggestion locale={locale} />